{{#> layouts/base pageLayout="home" layoutColor=pageHome.layoutColor title=pageHome.siteTitle meta=pageHome.meta }}

    {{#*inline "content"}}
        <div class="slogan">
        "<a target="_blank" href="http://www.elimovacanze.it">Elimo Vacanze</a> dispone di tre case autonome e indipendenti, in un museo a cielo aperto <a target="_blank" href="http://www.tripadvisor.it/Attraction_Review-g658732-d1777477-Reviews-Riserva_Naturale_Orientata_Monte_Cofano-Custonaci_Province_of_Trapani_Sicily.html">tra mare, a 100m </a>e la <a target="_blank" href="http://it.wikipedia.org/wiki/Riserva_naturale_orientata_Monte_Cofano">Riserva naturale orientata di Monte Cofano</a>. Il contesto è quello  di un baglio rurale con verande vista mare  e con la possibilita di ospitare fino<a href="#property-list"> 20 persone</a>."
        </div>

        <!-- Properties -->
        <div class="properties">


        <!-- Properties List -->
        <div id="property-list" class="container">
        <h3>Properties </h3>

        <div class="row">
        <ul class="products" id="able-list">

        <!--CIVICO 21-->
        <li style="display: block;" class="span4 first house offices residential">
        <div class="product-item">

        <a href="abitazione-superiore.html" title="Appartamento Superiore">
        <div class="imagewrapper">
        <img alt="" width="300" height="180" src="img/sopra/s.png">
        </div>
        </a>


        <h3><a href="abitazione-superiore.html" title="Appartamento Superiore">Abitazione Superiore</a></h3>
        <ul class="title-info">
        <li>Ospiti <span>8</span></li>
        <li>Vani <span>5</span> </li>
        <li>Bagni <span>2</span> </li>
        <li>Camere <span>3</span></li>
        <li>Divano letto <span>2</span></li>
        <li>Letti a Castello <span>1</span></li>
        </ul>
        </div>
        </li>

        <!--CIVICO 17-->
        <li class="span4 house offices apartment residential">
        <div class="product-item">
        <a href="abitazione-centrale.html" title="Appartamento Centrale">
                <div class="imagewrapper">
                  <img alt="" width="300" height="180" src="img/centro/s.png">
                </div>
        </a>


        <h3><a href="abitazione-centrale.html" title="Appartamento Centrale">Abitazione Centrale</a></h3>
        <ul class="title-info">
        <li>Ospiti <span>6</span></li>
        <li>Vani <span>4</span> </li>
        <li>Bagni <span>1</span> </li>
        <li>Camere <span>2</span></li>
        <li> Divano letto <span>2</span></li>
        <li> Letti a Castello <span>1</span></li>
        </ul>
        </div>
        </li>

        <!--ZIO-->
        <li class="span4 house offices apartment residential">
        <div class="product-item">

        <a href="abitazione-inferiore.html" title="Appartamento Inferiore">
        <div class="imagewrapper">
        <img alt="" width="300" height="180" src="img/sotto/s.png">
        </div>
        </a>

        <h3><a href="abitazione-inferiore.html" title="Appartamento Inferiore">Abitazione Inferiore</a></h3>
        <ul class="title-info">
        <li>Ospiti <span>6</span></li>
        <li>Vani <span>3</span> </li>
        <li>Bagni <span>1</span> </li>
        <li>Camere <span>2</span></li>
        <li> Divano letto <span>1</span></li>
        <li> Letti a Castello <span>1</span></li>

        </ul>
        </div>
        </li>

        </ul> <!--UL product -->
        </div> <!-- End ROW -->
        </div>
        <!-- End Properties List -->

        </div>
        <!-- End Properties -->

        <!-- Our Agents -->
        <div class="ouragents">
        <div class="container">
        <h3>PROPRIETARI</h3>
        <div class="our-content">
        <div class="row">
        <ul class="clearfix">

        <li class="span6">
        <div class="our-border clearfix">
        <div class="our-img"><img alt="" src="img/team/papo-1.jpg"></div>
        <div class="our-info">
        <h5>Nicolò Ruggirello</h5>
        <span>Cell. </span>(+39) 3332455100<br/>
        <span>Posta. </span><a href="mailto:elimovacanze@gmail.com?Subject=Informazioni%20Elimo%20Vacanze">elimovacanze@gmail.com</a>
        </div>
        </div>
        </li>


        <li class="span6">
        <div class="our-border clearfix">
        <div class="our-img"><img alt="" src="img/team/mamma-1.jpg"></div>
        <div class="our-info">
        <h5>Giovanna Morfino</h5>
        <span>Mail. </span><a href="mailto:giovannamorfino@alice.it?Subject=Informazioni%20Elimo%20Vacanze">giovannamorfino@alice.it</a>
        </div>
        </div>
        </li>
            </ul>
        </div>
        </div>




        </div>
        </div>
    {{/inline}}

{{/layouts/base}}
