<header class="main-header">

    <a class="brand" href="/{{lang}}">Elimo Vacanze</a>

    <div id="language-selector">
        <a href="/it" class="btn--it">ITA</a>
        <a href="/en" class="btn--en">ENG</a>
    </div>
    
</header>
